{% capture navbar-classes %}navbar-home{% endcapture%}
{%- include navbar.html -%}

<header class="text-white home">
  <div class="container">
    <h2 class="subtitle">
      34th EACSL Annual Conference on <br />
      Computer Science Logic
    </h2>
    <h1 class="title">
      CSL 2026
    </h1>

    <p>&nbsp;</p>

    <h3 class="subtitle">
      Paris, France <br />
      {{ site.date }}
    </h3>

    <p>&nbsp;</p>

    <!-- icon for links: a chain -->
    <svg style="display: none;">
      <symbol id="icon-link"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
        <path d="M10 13a5 5 0 0 1 0-7l1-1a5 5 0 0 1 7 7l-1 1"/>
        <path d="M14 11a5 5 0 0 1 0 7l-1 1a5 5 0 0 1-7-7l1-1"/>
      </symbol>
    </svg>

    <h5>Colocated Workshops</h5> 

    <h4 class="subtitle">
      <!-- Fixed Points in Computer Science 2026 -->
      FICS 2026 (23-24 February)<a href="https://fics2026.github.io"><svg class="link-icon" aria-hidden="true">
            <use href="#icon-link"></use>
          </svg></a><br />
      14th Logic Mentoring Workshop (23 February)<a href="https://logic-mentoring-workshop.github.io/csl26/"><svg class="link-icon" aria-hidden="true">
            <use href="#icon-link"></use>
          </svg></a> 
    </h4>

    <p>&nbsp;</p>

    {% if page.program %}
    <a href="{{ 'program' | relative_url }}"  class="btn btn-lg btn-info" role="button">Program</a>
    {% elsif page.register %}
    <a href="{{ 'registration' | relative_url }}" class="btn btn-lg btn-warning" role="button">Register</a>
    {% elsif page.accepted %}
    <a href="{{ 'accepted' | relative_url }}" class="btn btn-lg btn-info" role="button">Accepted</a>
    {% elsif page.submit %}
    <a href="#submission" class="btn btn-lg btn-primary" role="button">Submit</a>
    {% endif %}
    {% if page.proceedings %}
    <a href="#proceedings" class="btn btn-lg btn-info" role="button">Proceedings</a>
    {% endif %}
  </div>
</header>
<p style="text-align: right; padding: 0 15px 0;">{{ site.data.credits.bg-img-copyright }}</p>
