<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <h2>Proceedings</h2>

      <p>
      The CSL 2026 proceedings are published by Schloss Dagstuhl – Leibniz-Zentrum für Informatik
      in the Leibniz International Proceedings in Informatics (LIPIcs) series as
      <a href="https://drops.dagstuhl.de/entities/volume/LIPIcs-volume-363">LIPIcs, Volume 363</a>.
      </p>

      <p>&nbsp;</p>

      <h2>Program</h2>

      <p>
      The CSL 2026 program is avaliable on the following 
      <a href="{{ site.baseurl }}/program.html">page</a>.
      </p>
    </div>
  </div>
</div>
