<h2>Registration Procedure</h2>

<p>Please follow the steps below to complete your registration.</p>

<ol>
  <li>
    <strong>EACSL membership.</strong><br>
    EACSL membership is <strong>mandatory for CSL registration</strong>.<br>
    It is <strong>not required</strong>, but it is welcome,
    if you attend <strong>workshops only</strong>.<br>

    EACSL membership (€20 for regular members and €8 for students) can be obtained with 
    CSL or workshop registration, or directly from EACSL, as described on the EACSL website:
    <a href="https://www.eacsl.org/membership/" target="_blank" rel="noopener noreferrer">
      https://www.eacsl.org/membership/
    </a>  
  </li>

  <li>
    <strong>Pre-registration.</strong><br>
    All participants (CSL and/or workshops) must pre-register using the following website:
    <a href="https://dr01.azur-colloque.fr/inscription/en" target="_blank" rel="noopener noreferrer">
      https://dr01.azur-colloque.fr/inscription/en
    </a>
    <p class="registration-note" style="background-color: lightgray;">
      <strong>Note:</strong> If you have already pre-registered but have not yet paid the 
      EACSL membership, and you prefer to pay it together with CSL or workshop registration, 
      you can cancel your pre-registration and choose a new category that includes it.
      <br />
      The new fee categories including EACSL membership were introduced on the morning of 15 January. 
      If the registration site is not working, please wait, as the update may take a few hours
      to be deployed.
    </p>

  </li>

  <li>
    <strong>Validation.</strong><br>
    Once your pre-registration has been validated, you will be able to proceed with payment.
  </li>

  <li>
    <strong>Payment.</strong><br>
    After validation, select the appropriate registration fee and pay online by credit card 
    (or, for French institutions only, by bank transfer).
  </li>
</ol>

<h4>CSL Registration Fees</h4>


<h5>Including EACSL membership</h5>

<p class="registration-note">
  <strong>Note:</strong> These registration fees include EACSL membership
  (€20 for regular members and €8 for students),
  as well as additional management fees and VAT.
</p>

<table class="registration-fees">
  <thead>
    <tr>
      <th>Conference</th>
      <th>Dates</th>
      <th>Regular</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CSL + Workshops</td>
      <td>23-27 February (5 days)</td>
      <td>€755</td>
      <td>€468</td>
    </tr>
    <tr>
      <td>CSL</td>
      <td>24-27 February (4 days)</td>
      <td>€705</td>
      <td>€428</td>
    </tr>
  </tbody>
</table>


<h5>Not including EACSL membership</h5>

<p class="registration-note">
  <strong>Note:</strong> These registration fees apply if you have already obtained EACSL membership.
  If you have just done so, your pre-registration can be accepted only after we receive confirmation
  of your bank transfer to the EACSL bank account. Depending on the type of bank transfer, 
  this may take up to two or three days.
</p>

<table class="registration-fees">
  <thead>
    <tr>
      <th>Conference</th>
      <th>Dates</th>
      <th>Regular</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CSL + Workshops</td>
      <td>23-27 February (5 days)</td>
      <td>€730</td>
      <td>€460</td>
    </tr>
    <tr>
      <td>CSL</td>
      <td>24-27 February (4 days)</td>
      <td>€680</td>
      <td>€420</td>
    </tr>
  </tbody>
</table>


<h4>Workshop Registration Fees</h4>

<p class="registration-note">
  <strong>Note:</strong> EACSL membership is not mandatory, but it is welcome 
  if you wish to attend the workshops only.
</p>

<h5>Not including EACSL membership</h5>

<table class="registration-fees">
  <thead>
    <tr>
      <th>Workshop</th>
      <th>Dates</th>
      <th>Regular</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>FICS</td>
      <td>23-24 February (2 days)</td>
      <td>€150</td>
      <td>€100</td>
    </tr>
    <tr>
      <td>LMW</td>
      <td>23 February (1 day)</td>
      <td>€100</td>
      <td>€50</td>
    </tr>
  </tbody>
</table>

<h5>Including EACSL membership</h5>

<table class="registration-fees">
  <thead>
    <tr>
      <th>Workshop</th>
      <th>Dates</th>
      <th>Regular</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>FICS</td>
      <td>23-24 February (2 days)</td>
      <td>€175</td>
      <td>€108</td>
    </tr>
    <tr>
      <td>LMW</td>
      <td>23 February (1 day)</td>
      <td>€125</td>
      <td>€58</td>
    </tr>
  </tbody>
</table>


