<!-- <div class="alert alert-danger" role="alert">
  <strong>IMPORTANT</strong><br>
  The registration site is currently unavailable.
  <br>
  It will be back online on the morning of February 10.
</div>
 -->

<h2>Registration Procedure - Early Bird</h2>

<div class="alert alert-warning" role="alert">
  The deadline for Early Bird registration is <strong>February 9</strong>. 
  For all pre-registrations received after that date, or not completed before 
  <strong>February 12</strong>, the 
  <a href="#csl-late-registration">CSL late registration fees</a>
  or the <a href="#ws-late-registration">workshops late registration fees</a> apply.
</div>

<p>Please follow the steps below to complete your registration.</p>

<ol>
  <li>
    <strong>EACSL membership.</strong><br>
    EACSL membership is <strong>mandatory for CSL registration</strong>.<br>
    It is <strong>not required</strong>, but it is welcome,
    if you attend <strong>workshops only</strong>.<br>

    EACSL membership (€20 for regular members and €8 for students) can be obtained with 
    CSL or workshop registration, or directly from EACSL, as described on the EACSL website:
    <a href="https://www.eacsl.org/membership/" target="_blank" rel="noopener noreferrer">
      https://www.eacsl.org/membership/
    </a>  
  </li>

  <li>
    <strong>Pre-registration.</strong><br>
    All participants (CSL and/or workshops) must pre-register using the following website:
    <a href="https://dr01.azur-colloque.fr/inscription/en" target="_blank" rel="noopener noreferrer">
      https://dr01.azur-colloque.fr/inscription/en
    </a>
  </li>

  <li>
    <strong>Validation.</strong><br>
    Once your pre-registration has been validated, you will be able to proceed with payment.
  </li>

  <li>
    <strong>Payment.</strong><br>
    After validation, select the appropriate registration fee and pay online by credit card 
    (or, for French institutions only, by bank transfer).
  </li>
</ol>

<p>&nbsp;</p>

<h4>CSL Registration Fees - Early Bird </h4>

<div class="alert alert-warning" role="alert">
  The deadline for Early Bird registration is <strong>February 9</strong>. 
  For all pre-registrations received after that date, or not completed before 
  <strong>February 12</strong>, the 
  <a href="#csl-late-registration">CSL late registration fees</a> apply.
</div>

<h5>Including EACSL membership</h5>

<p class="registration-note">
  <strong>Note:</strong> These registration fees include EACSL membership
  (€20 for regular members and €8 for students),
  as well as additional management fees and VAT.
</p>

<div class="table-responsive">
  <table class="table registration-fees">
    <thead>
      <tr>
        <th>Conference</th>
        <th>Dates</th>
        <th>Regular</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CSL + Workshops</td>
        <td>23-27 February (5 days)</td>
        <td>€755</td>
        <td>€468</td>
      </tr>
      <tr>
        <td>CSL</td>
        <td>24-27 February (4 days)</td>
        <td>€705</td>
        <td>€428</td>
      </tr>
    </tbody>
  </table>
</div>


<h5>Not including EACSL membership</h5>

<p class="registration-note">
  <strong>Note:</strong> These registration fees apply if you have already obtained EACSL membership.
  If you have just done so, your pre-registration can be accepted only after we receive confirmation
  of your bank transfer to the EACSL bank account. Depending on the type of bank transfer, 
  this may take up to two or three days.
</p>

<div class="table-responsive">
  <table class="table registration-fees">
    <thead>
      <tr>
        <th>Conference</th>
        <th>Dates</th>
        <th>Regular</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CSL + Workshops</td>
        <td>23-27 February (5 days)</td>
        <td>€730</td>
        <td>€460</td>
      </tr>
      <tr>
        <td>CSL</td>
        <td>24-27 February (4 days)</td>
        <td>€680</td>
        <td>€420</td>
      </tr>
    </tbody>
  </table>
</div>

<p>&nbsp;</p>

<h4>Workshop Registration Fees - Early bird</h4>

<div class="alert alert-warning" role="alert">
  The deadline for Early Bird registration is <strong>February 9</strong>. 
  For all pre-registrations received after that date, or not completed before 
  <strong>February 12</strong>, the 
  <a href="#ws-late-registration">workshops late registration fees</a> apply.
</div>

<p class="registration-note">
  <strong>Note:</strong> EACSL membership is not mandatory, but it is welcome 
  if you wish to attend the workshops only.
</p>

<h5>Not including EACSL membership</h5>

<div class="table-responsive">
  <table class="table registration-fees">
    <thead>
      <tr>
        <th>Workshop</th>
        <th>Dates</th>
        <th>Regular</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FICS</td>
        <td>23-24 February (2 days)</td>
        <td>€150</td>
        <td>€100</td>
      </tr>
      <tr>
        <td>LMW</td>
        <td>23 February (1 day)</td>
        <td>€100</td>
        <td>€50</td>
      </tr>
    </tbody>
  </table>
</div>


<h5>Including EACSL membership</h5>

<div class="table-responsive">
  <table class="table registration-fees">
    <thead>
      <tr>
        <th>Workshop</th>
        <th>Dates</th>
        <th>Regular</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FICS</td>
        <td>23-24 February (2 days)</td>
        <td>€175</td>
        <td>€108</td>
      </tr>
      <tr>
        <td>LMW</td>
        <td>23 February (1 day)</td>
        <td>€125</td>
        <td>€58</td>
      </tr>
    </tbody>
  </table>
</div>

<p id="csl-late-registration">&nbsp;</p>

<div class="container bg-warning">

<p>&nbsp;</p>

<h4>CSL Late Registration Fees</h4>

<p class="registration-note">
  <strong>Note:</strong> All late registration fees for CSL include EACSL membership.
</p>

<div class="table-responsive">
  <div class="table-responsive">
    <table class="table registration-fees">
      <thead>
        <tr>
          <th>Conference</th>
          <th>Dates</th>
          <th>Regular</th>
          <th>Student</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CSL + Workshops</td>
          <td>23-27 February (5 days)</td>
          <td>€880</td>
          <td>€570</td>
        </tr>
        <tr class="bg-warning">
          <td>CSL</td>
          <td>24-27 February (4 days)</td>
          <td>€830</td>
          <td>€530</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p id="ws-late-registration">&nbsp;</p>

<h4>Late Workshop Registration Fees</h4>

<p class="registration-note">
  <strong>Note:</strong> EACSL membership is not mandatory, but it is welcome 
  if you wish to attend the workshops only.
</p>

<h5>Not including EACSL membership</h5>

<div class="table-responsive">
  <table class="table registration-fees">
    <thead>
      <tr>
        <th>Workshop</th>
        <th>Dates</th>
        <th>Regular</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FICS</td>
        <td>23-24 February (2 days)</td>
        <td>€180</td>
        <td>€130</td>
      </tr>
      <tr class="bg-warning">
        <td>LMW</td>
        <td>23 February (1 day)</td>
        <td>€130</td>
        <td>€80</td>
      </tr>
    </tbody>
  </table>
</div>


<h5>Including EACSL membership</h5>

<div class="table-responsive">
  <table class="table registration-fees">
    <thead>
      <tr>
        <th>Workshop</th>
        <th>Dates</th>
        <th>Regular</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FICS</td>
        <td>23-24 February (2 days)</td>
        <td>€205</td>
        <td>€138</td>
      </tr>
      <tr class="bg-warning">
        <td>LMW</td>
        <td>23 February (1 day)</td>
        <td>€155</td>
        <td>€88</td>
      </tr>
    </tbody>
  </table>
</div>

<p>&nbsp</p>

</div>
