<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
        
  <h2>Registration Procedure</h2>

  <p>Please follow the steps below to complete your registration.</p>

  <ol>
    <li>
      <strong>EACSL membership.</strong><br>
      EACSL membership is <strong>mandatory for CSL registration</strong>.<br>
      It is <strong>not required</strong> if you attend <strong>workshops only</strong>.<br>
      Membership must be obtained directly as described on the EACSL website:
      <a href="https://www.eacsl.org/membership/" target="_blank" rel="noopener noreferrer">
        https://www.eacsl.org/membership/
      </a>
    </li>

    <li>
      <strong>Pre-registration.</strong><br>
      All participants (CSL and/or workshops) must pre-register using the following website:
      <a href="https://dr01.azur-colloque.fr/inscription/en" target="_blank" rel="noopener noreferrer">
        https://dr01.azur-colloque.fr/inscription/en
      </a>
    </li>

    <li>
      <strong>Validation.</strong><br>
      Once your pre-registration has been validated, you will be able to proceed with payment.
    </li>

    <li>
      <strong>Payment.</strong><br>
      After validation, select the appropriate registration fee and pay online by credit card.
    </li>
  </ol>

  <h4>Registration Fees</h4>

  <table class="registration-fees">
    <thead>
      <tr>
        <th>Conference</th>
        <th>Dates</th>
        <th>Regular</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CSL + Workshops</td>
        <td>23-27 February (5 days)</td>
        <td>€730</td>
        <td>€460</td>
      </tr>
      <tr>
        <td>CSL</td>
        <td>24-27 February (4 days)</td>
        <td>€680</td>
        <td>€420</td>
      </tr>
      <tr>
        <td>FICS</td>
        <td>23-24 February (2 days)</td>
        <td>€150</td>
        <td>€100</td>
      </tr>
      <tr>
        <td>LMW</td>
        <td>23 February (1 day)</td>
        <td>€100</td>
        <td>€80</td>
      </tr>
    </tbody>
  </table>

  <p class="registration-note">
    <strong>Note:</strong> EACSL membership is required <strong>only for CSL registration</strong>.
    Participants attending <strong>workshops only</strong> do not need to be EACSL members.
  </p>



    </div>
  </div>
</div>
