<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <table class="mx-auto style='width:800'">
        <tr>
          <td>
            <img src="/style/img/logo-cnrs.png" alt="Logo CNRS" width="200">
          </td>
          <td>
            <img src="/style/img/logo-lipn.png" alt="Logo CNRS" width="220">
          </td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
          <td>
            <img src="/style/img/logo-uspn.png" alt="Logo CNRS" width="350">
          </td>
          <td>
            <img src="/style/img/logo-ig.png" alt="Logo CNRS" width="450">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
