<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <h2>Submission</h2>

      <p>Submitted papers must be in English and must provide sufficient detail
        to allow the Program Committee to assess the merits of the paper.
        Authors must submit their papers as a single PDF file through the</p>
        
      <p align="center"><a href="https://easychair.org/conferences/?conf=csl2026">
            CSL 2026 Easychair submission site at Easychair</a></p>
        
        <p>Full proofs may appear in a clearly marked technical appendix which will be 
        read at the reviewers' discretion.
        Authors are strongly encouraged to include a well written introduction which
        is directed at all members of the PC.</p>

        <p>The conference proceedings will be published in 
          <a href="https://drops.dagstuhl.de/entities/series/LIPIcs">
            Leibniz International Proceedings in Informatics (LIPIcs)</a>.</p>

        <p>Authors are invited to submit contributed papers of no more than 15 pages 
          in <a href="https://submission.dagstuhl.de/series/details/LIPIcs#author">LIPIcs style</a>
          (not including references), presenting unpublished work fitting 
          the scope of the conference.
          Papers may not be submitted concurrently 
          to another conference with refereed proceedings. 
          The PC chairs should be informed of closely related work submitted to a 
          conference or a journal.</p>

        <p>Papers authored or co-authored by members of the PC (but not PC chairs) are allowed.</p>

        <p>The submissions are <em>double-blind</em>:
          <ul>
            <li>
              Authors are not allowed to put their name on the paper, and they should avoid 
              revealing their identities in text (references to previous or related work should 
              be in third-person).</li>
            <li>
              Authors are allowed to disseminate the work on public repositories  (e.g. on arXiv 
              or their websites).
            </ul>
        </p>

        <p>We ask authors to declare conflicts with PC members when they submit their
           paper in Easychair.
        </p>

        <p>At least one of the authors of each accepted paper is expected to register for 
          the conference and attend it in person or online, in order to present their papers.
        </p>  
    </div>
  </div>
</div>
