<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <h2>Venue and Local Information</h2>

      <p>
        CSL 2026 will take place at
        <a href="https://www.campus-condorcet.fr/en/the-campus/aubervilliers-site/the-buildings-on-the-aubervilliers-site/conference-centre">
          Campus Condorcet Conference Center
        </a>.
      </p>

      <p>
        <strong>Address:</strong><br>
        Place du Front Populaire<br>
        93322 Aubervilliers, France
      </p>

      <div style="width: 100%; height: 400px; margin-top: 1em;">
        <iframe
          title="Map: Place du Front Populaire, 93322 Aubervilliers"
          width="100%"
          height="100%"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          loading="lazy"
          src="https://www.openstreetmap.org/export/embed.html?bbox=2.3639005422592168%2C48.90596499078075%2C2.3690289258956914%2C48.90839435588913&amp;layer=mapnik&amp;marker=48.907179688098424%2C2.3664647340774536">
        </iframe>
      </div>

      <p style="margin-top: 0.25rem;">
        <small>
          <a href="https://www.openstreetmap.org/?mlat=48.907180&amp;mlon=2.366465#map=18/48.907180/2.366465"
            target="_blank" rel="noopener">
            View Larger Map
          </a>
        </small>
      </p>

      <h4>How to Get There</h4>

      <dl style="display: grid; grid-template-columns: max-content 1fr; gap: 0.5em 1em;">
        <dt>By train</dt>
        <dd>
          RER B, La Plaine – Stade de France station (then bus lines 139 and 239);
          RER E, Rosa Parks station (then bus line 239).
        </dd>

        <dt>By tram</dt>
        <dd>
          Tram line 3B, Porte de la Chapelle stop (then Metro line 12).
        </dd>

        <dt>By bus</dt>
        <dd>
          Bus lines 139, 239, and 512 (Front Populaire – Gardinoux stop).
        </dd>

        <dt>By metro</dt>
        <dd>
          Metro line 12, Front Populaire station.
        </dd>
      </dl>

    </div>
  </div>
</div>
