header.home {
  height: 100vh;
  min-height: 500px;
  background-attachment: scroll;
  background-image: url('{{ site.baseurl }}/style/img/header-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar .dropdown-menu {
  transition: background-color 0.3s ease;
}

.navbar-home {
  background-color: transparent ! important;
}

.navbar-home:not(.solid) .dropdown-menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.navbar .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-home.solid, 
.navbar-home.solid .dropdown-menu, 
.navbar-other, 
.navbar-other .dropdown-menu {
  background-color: #70acea ! important;
}


.navbar .nav-link, 
.navbar .dropdown-item {
  /* color: blue ! important; */
  color: white ! important;
}

.footer {
  background-color: #70acea ! important;
  color: blue ! important;
}